---
import DetailLayout from '../../layouts/DetailLayout.astro';
---

<DetailLayout title="Blog - Dr. [Name]" description="Blog posts">
  <h2>Blog</h2>
  <p>Coming soon: Blog posts about educational technology and academic life.</p>
</DetailLayout>
