---
import DetailLayout from '../../layouts/DetailLayout.astro';
---

<DetailLayout title="Projects - Dr. [Name]" description="Research projects">
  <h2>Projects</h2>
  <p>Coming soon: Research projects and academic collaborations.</p>
</DetailLayout>
