---
import DetailLayout from '../layouts/DetailLayout.astro';
---

<DetailLayout title="博客 - Dr. [Name]" description="Blog posts">
  <h2>博客</h2>
  <p>Coming soon: Blog posts about educational technology and academic life.</p>
</DetailLayout>
