---
import DetailLayout from '../layouts/DetailLayout.astro';
import { useTranslations } from '../i18n/utils';

const t = useTranslations('en');
---

<DetailLayout title="Service - Ziqi Chen" description="Academic service" sectionTitle={t.sections.service}>

  <section>
    <h3>Peer Review</h3>
    <ul>
      <li>Peer reviewer for journal articles</li>
      <li>Reviewer for international conference papers</li>
    </ul>
  </section>

  <section>
    <h3>Professional Memberships</h3>
    <ul>
      <li>Member of educational technology academic organizations</li>
    </ul>
  </section>
</DetailLayout>
